* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 236, 236);
}


.sider {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 270px;
    left: 0;
    top: 0;
    
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 columns */
  grid-template-rows: auto auto auto;      /* 3 rows */
  gap: 11px;
  width: 600px;
  margin: 40px auto;
 
}




header {
    font-size: 10px;
    text-align: center;
    margin-top: 25px;
    
}

.add-new {
    display: flex;   
    flex-direction: column;
    align-items: center;       
    gap: 4px;                   
    background: #38b6ff;
    color: white;
    padding: 10px; 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.btn-img {
    width: 20px;   
    height: 20px;
}


.btn-text {
    font-size: 12px; 
    transition: 0.5s;  
}

.add-new:hover {
  background-color: #cb6ce6;
  color: aquamarine;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.modalcontainer { 
  flex-direction: column;
  gap: 5px;
  margin:-550px auto;
  width: 30%;
  height: 60vh;
  border: 3px solid black;
  background-color: #aed7ee;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  overflow: auto;
  


}

#hideform{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.modalcontainer img{
    height: 70px;
    width: 70px;
    border: solid 2px;
    background-color: #d8d7d9;
    border-radius: 40px;
}

#addexperiencebtn{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 7px;
   padding: 8px;
}


#addexperiencebtn:hover{

    background-color: none;
}


.insidemodalcontainer{ 
  flex-direction: column;
  gap: 5px;
  margin: 20px auto;
  width: 90%;
  background-color: rgb(203, 203, 203);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  
}

#closeexperienceTable {
    width: 20px;
    margin-left: 300px;
    border-radius: 30px;
    cursor: pointer;
}

#closeexperienceTable:hover {
    background-color: rgb(235, 61, 61);
}

input {
    padding: 4px ;
}

select{
    padding: 4px ;
}

.insertmodalbtn{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin: auto 45px;
}

.insertmodalbtn input{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   padding: 8px;
}
.insertmodalbtn button{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   padding: 8px;
}

.insertmodalbtn input:hover{
    background: green;
}

.insertmodalbtn button:hover{
    background: red;
}

#workersListCountainer{
height: 80vh;
overflow-y: auto;
}

.showinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(227, 224, 224);
  border: none ;
  border-radius: 10px;
  height: 120px;
  width: 200px;
  margin-top: 12px;
  margin-left: 12px;
   
}

.showinfo img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 4px;
  margin-left: 4px;
}

.showinfo h4{
 margin-top: 10px;
 font-size: 15px;

}


.showInFoBtn {
   margin-left: 136px;
   margin-top: 15px;
   margin-right: 130px;
   width: 45px;
   border: none;
   border-radius: 10px;
   color: rgb(36, 192, 52);
   font-size: 15px;
   cursor: pointer;
   width: 50px;
   height: 20px;
}

.showInFoBtn:hover {
   background-color:  rgb(36, 192, 52);
   color: rgb(255, 255, 255);
   font-size: 15px;
   cursor: pointer;
}



.modalcontainer { 
  flex-direction: column;
  gap: 5px;
  margin:-550px auto;
  width: 30%;
  height: 60vh;
  border: 3px solid black;
  background-color: #aed7ee;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  overflow: auto;
  position: relative;
  }




.showAllInformation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal {
  background: #fff;
  width: 540px;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 12px 40px rgba(0,0,0,0.15);
  animation: fadeIn 0.25s ease;
  font-family: "Inter", sans-serif;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


.modal-body label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  margin-top: 16px;
}


#cancelInfomodal {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgb(211, 76, 76);
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-left: 470px;
}

#cancelInfomodal:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(242, 79, 79);
  
}


.box {
  border: 3px solid #000;
  border-radius: 20px;
  background: white;
}

#box1 {
  height: 200px;
  width: 300px;
  margin-left: -25px;
  grid-column: 1;   
  grid-row: 1; 
  display: flex;     
  flex-direction: row;
  justify-content: left;
}
#box2 {
  height: 300px;
  grid-column: 1;
   margin-left: -25px;
  grid-row: 2 / span 2; 
}
#box3 {
  height: 230px;
  width: 250px;
  margin-left: 80px;
  grid-column: 2;
  grid-row: 1;
}
#box4 {
  height: 230px;
  width: 250px;
  grid-column: 3;
  grid-row: 1;
}
#box5 {
  height: 230px;
  width: 250px;
  margin-left: 80px;
  grid-column: 2;
  grid-row: 2;
}
#box6 {
   height: 230px;
  width: 250px;
  grid-column: 3;
  grid-row: 2;
}

.content button {
justify-content: center;
font-size: large;
background-color:#cb6ce6;
color: #fff;
height: 30px;
width: 30px;
border-radius: 30px;
margin-left: 110px;
margin-top: 10px ;
cursor: pointer;

}

#zoneBtn1 {
justify-content: center;
font-size: large;
background-color:#cb6ce6;
color: #fff;
height: 30px;
width: 30px;
border-radius: 30px;
margin-left: 120px;
margin-top: 10px ;
cursor: pointer;

}

#zoneBtn2 {
justify-content: center;
font-size: large;
background-color:#cb6ce6;
color: #fff;
height: 30px;
width: 30px;
border-radius: 30px;
margin-left: 130px;
margin-top: 10px ;
cursor: pointer;

}



.employee-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.modal-content {
  background:#b8d9f6;
  padding:20px;
  border-radius:10px;
  max-height: 80%;
  overflow-y: auto;
}

.employee-card {
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:10px;
  border:1px solid #de96ea;
  padding:5px;
  border-radius:5px;
  margin-top: 5px;
}


#closeEmployeeModal{
  border-radius: 5px;
  background-color: red;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


#closeEmployeeModal:hover{
  border-radius: 5px;
  background-color: rgb(197, 43, 43);
  color: rgb(255, 255, 255);
}


.addEmployeeBtn{
   border-radius: 5px;
  background-color: rgb(140, 237, 43);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.addEmployeeBtn:hover{
   border-radius: 5px;
  background-color: rgb(120, 188, 42);
  color: rgb(255, 255, 255);
  cursor: pointer;
}


.box {
    display: flex;            
    flex-wrap: wrap;           
    align-content: flex-start; 
    overflow-y: auto;          
    padding: 5px;             
    gap: 5px;                
}

.workerZonecard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  width: 150px;
  height: 60px;
  border-radius: 20px;
  background-color: rgb(218, 178, 126);
  font-size: 10px;
   flex: 0 0 auto;            
   margin: 2px; 
   margin-left: 55px;
   gap: 0px;
   

}

.workerZonecard img{
margin-top: 2px;
height: 30px;
width: 30px;
border-radius: 50%;
}

.workerZonecard img{
margin-top: 2px;
height: 30px;
width: 30px;
border-radius: 50%;
}





#roomContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  height: 30px;
  width: 100px;
  margin-left: 85px;
  margin-top: 3px;
  border-radius: 30px;
  background-color: #1697e7;
 
}

#roomContainer-right{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  height: 30px;
  width: 90px;
  margin-left: 55px;
  margin-top: 3px;
  border-radius: 30px;
  background-color: #1697e7;
  width: 140px;
}