* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 236, 236);
}


.sider {
    position: fixed;
    background-color: white;
    height: 100%;
    width: 270px;
    left: 0;
    top: 0;
    
}

.content {
    margin-left: 250px;  
    padding: 20px;
  
    
}


.content img {
    width: 90%;  
    display: block;
    margin: 20px auto;
    position: relative;
    z-index: -1;
    
}


header {
    font-size: 10px;
    text-align: center;
    margin-top: 25px;
    
}

.add-new {
    display: flex;   
    flex-direction: column;
    align-items: center;       
    gap: 4px;                   
    background: #38b6ff;
    color: white;
    padding: 10px; 
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.btn-img {
    width: 20px;   
    height: 20px;
}


.btn-text {
    font-size: 12px; 
    transition: 0.5s;  
}

.add-new:hover {
  background-color: #cb6ce6;
  color: aquamarine;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}

.modalcontainer { 
  flex-direction: column;
  gap: 5px;
  margin:-550px auto;
  width: 30%;
  height: 60vh;
  border: 3px solid black;
  background-color: #aed7ee;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  overflow: auto;
  


}

#hideform{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.modalcontainer img{
    height: 70px;
    width: 70px;
    border: solid 2px;
    background-color: #d8d7d9;
    border-radius: 40px;
}

#addexperiencebtn{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   width: 180px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 7px;
   padding: 8px;
}


#addexperiencebtn:hover{

    background-color: none;
}


.insidemodalcontainer{ 
  flex-direction: column;
  gap: 5px;
  margin: 20px auto;
  width: 90%;
  background-color: rgb(203, 203, 203);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  
}

#closeexperienceTable {
    width: 20px;
    margin-left: 300px;
    border-radius: 30px;
    cursor: pointer;
}

#closeexperienceTable:hover {
    background-color: rgb(235, 61, 61);
}

input {
    padding: 4px ;
}

select{
    padding: 4px ;
}

.insertmodalbtn{
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin: auto 45px;
}

.insertmodalbtn input{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   padding: 8px;
}
.insertmodalbtn button{
   border-radius: 10px;
   color: white;
   background: #38b6ff;
   cursor: pointer;
   padding: 8px;
}

.insertmodalbtn input:hover{
    background: green;
}

.insertmodalbtn button:hover{
    background: red;
}

#workersListCountainer{
height: 80vh;
overflow-y: auto;
}

.showinfo{
  display: flex;
  flex-direction: column;
  background: rgb(227, 224, 224);
  border: none ;
  border-radius: 10px;
  height: 60px;
  width: 190px;
  margin-top: 12px;
  margin-left: 12px;
  text-align: center; 
}

.showinfo img{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-top: 4px;
  margin-left: 4px;
}

.showinfo h4{
 margin-top: -30px;
 font-size: 15px;

}


.showInFoBtn {
   margin-left: 136px;
   margin-top: -15px;
   width: 45px;
   border: none;
   border-radius: 10px;
   color: rgb(36, 192, 52);
   font-size: 15px;
   cursor: pointer;
}

.showInFoBtn:hover {
   background-color:  rgb(36, 192, 52);
   color: rgb(255, 255, 255);
   font-size: 15px;
   cursor: pointer;
}



.modalcontainer { 
  flex-direction: column;
  gap: 5px;
  margin:-550px auto;
  width: 30%;
  height: 60vh;
  border: 3px solid black;
  background-color: #aed7ee;
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
  overflow: auto;
  }




.showAllInformation{
  border: solid 2px;
  width: 200px;
  border-radius: 8px;
  background-color: aliceblue;
}


.showAllInformation h3{
 color: rgb(59, 30, 249);
}

.showAllInformation p{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(6, 6, 6);
}

.showAllInformation img{
height: 40px;
width: 40px;
margin-top: 5px;
border-radius: 20px;
}    


















